html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    line-height: 1.45em;
}

#container {
    width: 95%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Catamaran", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2em;
    margin-top: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.8em;
}

p {
    font-family: "Catamaran", Georgia, serif;
    font-size: 1em;
    margin-bottom: 0.8em;
}

.title {
    margin-top: 1.5em;
    margin-bottom: 0.7em;
    border-bottom: 1px solid #ccc;
}

.logo {
    border-radius: 5%;
    margin-left: 0.5em;
    height: 3em;
}

.caption {
    font-size: 0.7em;
    text-align: right;
    margin-top: 0;
    font-style: italic;
}

.pullquote {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.25;
}

.byline {
    font-family: "Catamaran", Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: normal;
}

.dateline {
    font-family: "Catamaran", Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    color: #aaa;
    margin: 0;
    line-height: normal;
}

footer {
    border-top: 1px solid #ccc;
}

footer p {
    font-size: 0.8em;
}

.title {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-flow: column;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    font-family: "Catamaran", Helvetica, Arial, sans-serif;
    text-decoration: none;
    margin-bottom: 1em;
}


.authorbox img {
  display: none;
}

.pullquote {
  display: none;
}

article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

article:last-of-type {
  border-bottom: none;
}


.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}



@media screen and (min-width: 450px) {

    nav ul {
        flex-flow: row;
        justify-content: space-between;
    }

}

@media screen and (min-width: 600px) {

    #container {
        width: 80%;
    }

    .authorbox img {
      display: block;
      width: 100%;
      margin-top: 0.5em;
    }

    .authorbox {
      width: 25%;
      max-width: 200px;
      float: left;
      margin-right: 20px;
    }
}

@media screen and (min-width: 800px) {
    .item1 {
      margin-right: auto;
    }

    nav ul li {
      margin: 5px;
    }

    .pullquote {
      display: block;
    }

}

@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        "c c e"
        ". d d";
  }

  .authorbox {
    width: 100%;
    grid-area: a;
  }

  .section1 {
    grid-area: b;
  }

  .image {
    grid-area: c;
  }

  .section2 {
    grid-area: d;
  }

  .pullquote {
    margin-top: 0;
    grid-area: e;
  }

  .section1 p:first-of-type, .section2 p:first-of-type {
    margin-top: 0;
  }

}

@media screen and (min-width:1200px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b e"
        "c c c ."
        ". d d .";
  }
}
