html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    line-height: 1.45em;
}

#container {
    width: 95%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Catamaran", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2em;
    margin-top: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.8em;
}

p {
    font-family: "Catamaran", Georgia, serif;
    font-size: 1em;
    margin-bottom: 0.8em;
}

.title {
    margin-top: 1.5em;
    margin-bottom: 0.7em;
    border-bottom: 1px solid #ccc;
}

.logo {
    border-radius: 5%;
    margin-left: 0.5em;
    height: 3em;
}

.caption {
    font-size: 0.7em;
    text-align: right;
    margin-top: 0;
    font-style: italic;
}
